@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
h1{
    font-family: 'Noto Sans JP', sans-serif;
    color: Black;
    font-size: 18pt;
    line-height: 200%;
    border-bottom: solid 1px Black;
}
h2{font-family: 'Noto Sans JP', sans-serif;color: Black; font-size: 14pt; font-weight: bold;}
h3{font-family: 'Noto Sans JP', sans-serif;color: Black; font-size: 14pt; font-weight: normal;}
h4{font-family: 'Noto Sans JP', sans-serif;color: Black; font-size: 12pt; font-weight: bold;}
h5{font-family: 'Noto Sans JP', sans-serif;color: Black; font-size: 12pt; font-weight: normal;}
h6{font-family: 'Noto Sans JP', sans-serif;color: Black; font-size: 10pt;}
p{font-family: sans-serif;color: Black;font-weight: normal; line-height: 200%}
a{font-family: sans-serif;color: Black; line-height: 200%;}

@media screen and (min-width: 1280px) {
    /*大画面*/
    #mainPage{
        margin: 10%;
        margin-top: 340px;
        display: flex;
    }
    #mainContent{
        padding: 16px;
        width: 70%;
        margin-right: 20px;
        min-height: 720px;
    }
    #sideContent{
        padding: 16px;
        width: 20%;
        height: 72px;
        display: flex;
        align-items:center;
    }
    #Menu{
        display: block;
        overflow:hidden;
        list-style:none;
        margin: 0 auto;
        z-index: 20;
        position: absolute;
        bottom: 8px;
        right: 0px;
        height:40px;
        padding:2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 6px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: #f8f8ff77;
    
    }    
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    /*中画面*/
    #mainPage{
        margin-top: 340px;
        display: flex;
    }
    #mainContent{
        padding: 16px;
        width: 75%;
        margin-right: 20px;
        min-height: 720px;
    }
    #sideContent{
        padding: 16px;
        width: 20%;
        height: 72px;
        display: flex;
        align-items:center;
    }
    #Menu{
        display: block;
        overflow:hidden;
        list-style:none;
        margin: 0 auto;
        z-index: 20;
        position: absolute;
        bottom: 8px;
        right: 0px;
        height:40px;
        padding:2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 6px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: #f8f8ff77;
    
    }    
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    /*小画面*/
    #mainPage{
        margin-top: 340px;
        display: flex;
    }
    #mainContent{
        padding: 16px;
        width: 70%;
        margin-right: 20px;
        min-height: 720px;
    }
    #sideContent{
        padding: 16px;
        width: 250px;
        height: 72px;
        display: flex;
        align-items:center;
    }
    #Menu{
        display: none;
        overflow:hidden;
        list-style:none;
        margin: 0 auto;
        z-index: 20;
        position: absolute;
        bottom: 8px;
        right: 0px;
        height:40px;
        padding:2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 6px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: #f8f8ff77;
    
    }    
}

@media screen and (max-width: 639px) {
    /*スマホ画面*/
    #mainPage{
        margin-top: 340px;
        display: grid;
    }
    #mainContent{
        padding: 16px;
        min-height: 720px;
    }
    #sideContent{
        padding: 16px;
        height: 72px;
        display: flex;
        align-items:center;
        margin-top: 20px;
    }
    #Menu{
        display: none;
        overflow:hidden;
        list-style:none;
        margin: 0 auto;
        z-index: 20;
        position: absolute;
        bottom: 8px;
        right: 0px;
        height:40px;
        padding:2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 6px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: #f8f8ff77;
    
    }
}

body{
    margin: 0px;
    padding: 16px;
    background-color: #e9e9f4;
    width: auto;
    height:5000px;
}

header{
    top: 16px;
    position: fixed;
    height: 320px;
    margin: 0 auto;
    left: 16px;
    right: 16px;
    background-color: #e9e9f422;
    background-position: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    align-items: flex-end;
}

img{
    border-radius: 4px;
}

.NeumorphismBox{
    border-radius: 6px;
    box-shadow: 10px 10px 20px #00000044, -10px -10px 30px #ffffffff;
}


#headerContent{
    position: relative;
    left: 16px;
    right: 16px;
    width: 98%;
    width: -webkit-calc(100% - 32px);
    width: calc(100% - 32px);
    z-index: 2;
}

#headerBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Neumorphism.png");
    background-size: cover;
    background-position: center;
    filter: none;
    border-radius: 6px;
    z-index: 1;
}

.MenuButton{
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    width: 100px;
    height: auto;
    font-family: "Noto Sans JP";
    font-size: 10pt;
    line-height: 120%;
}

.MenuButton::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width:100px;
    height:2px;
    background: #ff0088;
    display: block;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transition: transform 0.4s cubic-bezier(0.6,0.04,0.98,0.34);
    transition: transform 0.4s cubic-bezier(0.6,0.04,0.98,0.34);
}

.MenuButton:hover::before , .active::before{
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: transform 0.4s cubic-bezier(0.08,0.82,0.17,1);
    transition: transform 0.4s cubic-bezier(0.08,0.82,0.17,1);
}

.MenuContent{
    padding: 8px 0px 0px 0px;
    float: left;
}