@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
h1{
    font-family: 'Noto Sans JP', sans-serif;
    color: Black;
    font-size: 24pt;
    line-height: 200%;
    border-bottom: solid 1px Black;
}
h2{font-family: 'Noto Sans JP', sans-serif;color: Black; font-size: 20pt;}
h3{font-family: 'Noto Sans JP', sans-serif;color: Black;}
h4{font-family: 'Noto Sans JP', sans-serif;color: Black;}
h5{font-family: 'Noto Sans JP', sans-serif;color: Black;}
h6{font-family: 'Noto Sans JP', sans-serif;color: Black;}
p{font-family: sans-serif;color: Black;font-weight: normal; line-height: 200%}
a{font-family: sans-serif;color: Black; line-height: 200%;}

body{
    margin: 0px;
    padding: 0px;
    background-color: #e9e9f4;
    width: 100%;
}

header{
    margin: 8px;
    background-image: url("../images/Neumorphism.png");
    height: 320px;
    width: 100%;
    background-position: center;
}

.NeumorphismBox{
    border-radius: 6px;
    box-shadow: 10px 10px 30px #00000088 -10px -10px 30px #ffffff;
}


#headerContent{
    margin-bottom: 10px;
}

#mainPage{
    margin: 10px;
}