<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ja-JP' }}">
    <head>
        <meta charset="utf-16">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        {% seo %}
        <link type="text/css" rel="stylesheet" href="{{ './assets/css/default.css' | relative_url }}" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="icon" href="favicon.ico">
        <title>Blog mina</title>
    </head>

    <body>
        <header>
            <div id="headerContent" class="NeumorphismBox">
                <p>Blog mina</p>
            </div>
        </header>
        {{ content }}
    </body>
</html>