<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ja-JP' }}">
    <head>
        <meta charset="utf-16">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Blog mina</title>
        {% seo %}
        <link type="text/css" rel="stylesheet" href="{{ './assets/css/default.css' | relative_url }}" />
        <script type="text/javascript" src="{{ './assets/js/scroll.js' | relative_url }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="icon" href="favicon.ico">
    </head>

    <body>
        <header class="NeumorphismBox">
            <div id="headerContent">
                <p>Blog mina</p>
            </div>
        </header>
        <div id="mainPage">
            {{ content }}
        </div>
    </body>
</html>